section >div{
    border: 2px solid blue;
}

.card{
    width:100%;
}

img{
    background-size: cover;
    width:40%;
    height:100%;
}

#searchBox{
    width: 97%;  
    table-layout: fixed;
    border-collapse: collapse;
    z-index: 10;
    position: absolute;
}