<section class="container-fluid text-left   " >
    <form [formGroup]="forma" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <button class="btn btn-lg  btn-light btn-block px-2 mb-2 btn-login " id="google"><img
                    src="../../../assets/images/google-icon.svg" alt="google login" srcset=""> <span>Prijavite
                    se</span></button>
            <button class="btn btn-lg   btn-block px-2 mb-2 btn-login" id="facebook"><img
                    src="../../../assets/images/facebook-3-2.svg" alt="facebook login" srcset=""> <span>Prijavite
                    se</span></button>
        </div>
        <div class="form-group">
            <input type="email" formControlName="username" class="form-control" id="username"
                placeholder="enter your  e-mail">
            <small *ngIf="forma.get('username').hasError('required')" class="form-text text-danger">ovo polje je
                obavezno</small>
            <small *ngIf="forma.get('username').hasError('email')" class="form-text text-danger">username nije
                ispravan</small>
        </div>

        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" formControlName="address" id="address" placeholder="1234 Main St">
            <small *ngIf="forma.get('username').hasError('required')" class="form-text text-danger">ovo polje je
                obavezno</small>
          </div>
       

        <div class="form-group">
            <div class="input-group">
                <input [type]="fieldTextType ? 'text':'password'" formControlName="password"
                    class="form-control bg-transparent" id="password" placeholder="unesite vasu sifru">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <mat-icon (click)="toggleTieldTextType()">{{fieldTextType ? 'visibility' : 'visibility_off'}}
                        </mat-icon>

                    </span>
                </div>
            </div>




            <small *ngIf="forma.get('password').hasError('required')" class="form-text text-danger">ovo polje je
                obavezno</small>

            <small *ngIf="forma.get('password').hasError('minlength') && !forma.get('password').hasError('required')" class="form-text text-danger">Mora biti vise od
                sest karaktera
            </small>
            <small *ngIf="forma.get('password').hasError('pattern') && !forma.get('password').hasError('minlength') && !forma.get('password').hasError('required')" class="form-text text-danger">Mora biti najmanje
                jean broj i najmanje jedno slovo
            </small> 



        </div>
        <div class="form-froup">
            <div class="input-group">
                <input [type]="fieldTextType ? 'text':'password'" formControlName="confrimPassword"
                    class="form-control bg-transparent" id="confrimPassword" placeholder="potvrdite vasu sifru">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <mat-icon (click)="toggleTieldTextType()">{{fieldTextType ? 'visibility' : 'visibility_off'}}
                        </mat-icon>

                    </span>
                </div>
            </div>
            <small *ngIf="forma.get('confrimPassword').hasError('required')" class="form-text text-danger">ovo polje je
                obavezno</small>
                <small *ngIf="forma.get('confrimPassword').hasError('mustMatch')" class="form-text text-danger">Sifre se moraju podudarati</small>
        </div> 
        <div class="form-group">
            <button type="submit" [disabled]="forma.invalid" class="btn btn-lg btn-warning btn-block">Prijavite
                se</button>
        </div>
        <small *ngIf="this.errorExists">{{this.errorText}}</small>
    </form>
</section>