<section class="container mx-auto col-lg-5 col-sm-12 ">
    <h3 class="text-center font-weight-bold"> Prijavi se na aplikaciju</h3>
    
      <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
          <mat-tab label="profil"></mat-tab>
          <mat-tab label="narudbine"><app-my-orders></app-my-orders></mat-tab>
          <mat-tab label="adrese"></mat-tab>
          <mat-tab label="utisci"></mat-tab>
          
          
        </mat-tab-group>
  </section>
