
mat-sidenav-container,mat-sidenav,mat-sidenav-content{
    height: 100%;
}
mat-sidenav{
    width:100vw;
}

mat-toolbar{
    background:#F01616 ;
} 
mat-nav-list > a{
    display: flex;
    justify-content: center;
}


.auth{
   font-weight: bold;
   background-color:transparent;
   transition: 200ms;
   border: 3px solid #F0E616;
   border-radius: 20px;
}
.auth:hover{
    background-color:#F0E616;
    
}
