<mat-sidenav-container>
    <mat-sidenav #sidenav opened="false">
      <p>APP</p>
      <mat-nav-list >
        <a *ngIf="!isLogedin()" mat-list-item routerLink="/auth" (click) = "sidenav.close()">Prijavi se<mat-icon>computer</mat-icon></a>
        <a *ngIf="isLogedin()" mat-list-item routerLink="/auth" (click) = "sidenav.close()">{{this.authService.getCurrentUser().username}}<mat-icon>computer</mat-icon></a>
        <a mat-list-item href="#">Bela tehnika<mat-icon>microwave</mat-icon></a>
        <a mat-list-item href="#">Bicikla<mat-icon>pedal_bike</mat-icon></a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="#F01616"><div fxHide.gt-xs (click) = "sidenav.toggle()"><mat-icon>menu</mat-icon></div>
       <div fxFlex fxLayoutAlign="end"  fxHide.xs>
         <button *ngIf="!isLogedin()" type="button" class="btn   btn-lg auth" (click) = "toogleLogin()">prijavi se/registruj se</button>
         <button *ngIf="isLogedin()" mat-button  class="btn   btn-lg auth"[matMenuTriggerFor]="menu">{{this.authService.getCurrentUser().username}}</button>
         <mat-menu #menu="matMenu">
           <button mat-menu-item (click) = "navigateToCustomerPanel()">moj profil</button>
           <button mat-menu-item>Item 2</button>
         </mat-menu>
         
       </div>
      </mat-toolbar>
      
      <router-outlet></router-outlet>
      
    </mat-sidenav-content>
   
  </mat-sidenav-container>
  