<section class="container mx-auto col-lg-5 col-sm-12 ">
  <h3 class="text-center font-weight-bold"> Prijavi se na aplikaciju</h3>
  
    <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
        <mat-tab label="prijavi se"><app-login></app-login></mat-tab>
        <mat-tab label="registruj se"><app-register></app-register></mat-tab>
        
      </mat-tab-group>
</section>
