
mat-tab-group{
    width:100%;
}

.container{
    border-radius: 10px;
    border : 2px solid #DBEDEC;
    position: relative;
}

mat-icon{
    position: absolute;
    top:7px;
    right: 7px;
    cursor: pointer;
}